.container {
    padding: 50px;
    #name {
        width: 100% !important;
    }
    .error {
        color: red;
        padding: 1rem 0;
    }
    .form-group {
        padding-bottom: 1rem;
    }
    .actions {
        display: flex;
        justify-content: space-evenly;
        button {
            cursor: pointer;
        }
    }
}